@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@keyframes diamondscale {
  0% {
    transform: rotate(0deg) scale(0); }
  100% {
    transform: rotate(45deg) scale(1); } }

@keyframes diamondrotate {
  100% {
    transform: rotate(180deg); } }

@keyframes diamondrotateReverse {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0); } }

@keyframes introAni {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes introAni2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes descOpacity {
  100% {
    opacity: 1; } }

@keyframes descMove {
  0% {
    transform: translateY(50px); } }

@keyframes descOpacity2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes descMove2 {
  100% {
    transform: translateY(50px); } }

@keyframes topMove {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-210px); } }

@keyframes topMoveBack {
  0% {
    transform: translateX(-210px); }
  100% {
    transform: translateX(0); } }

@keyframes bottomMove {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(200px); } }

@keyframes bottomMoveBack {
  0% {
    transform: translateX(200px); }
  100% {
    transform: translateX(0); } }

@keyframes leftMove {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(210px); } }

@keyframes leftMoveBack {
  0% {
    transform: translateY(210px); }
  100% {
    transform: translateY(0); } }

@keyframes rightMove {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-210px); } }

@keyframes rightMoveBack {
  0% {
    transform: translateY(-210px); }
  100% {
    transform: translateY(0); } }

@keyframes diamondrotate2 {
  100% {
    transform: rotate(-180deg); } }

@keyframes infiniteRotation {
  0% {
    transform: rotate(-180deg); }
  10% {
    transform: rotate(-90deg); }
  25% {
    transform: rotate(-90deg); }
  35% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(90deg); }
  75% {
    transform: rotate(90deg); }
  90% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(180deg); } }

@keyframes wordsOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes navAni {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes circleToBox {
  0% {
    border-radius: 200px;
    transform: rotate(0); }
  75% {
    width: 245px;
    height: 245px;
    top: 50%;
    left: 50%;
    margin-top: -122.5px;
    margin-left: -122.5px; }
  100% {
    width: 100%;
    height: 110vh;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    transform: rotate(180deg); } }

@keyframes diamondrotateReverse {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0); } }

.page-wrapper {
  max-width: 1400px;
  margin: 0 auto; }

.header {
  display: flex;
  width: 100%; }
  .header__logo {
    width: 100%;
    height: 10px;
    margin-top: 50px;
    background: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-position: center; }
    @media (min-width: 700px) {
      .header__logo {
        background-position: left;
        margin-left: 50px; } }

.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center; }
  @media (min-width: 700px) {
    .hero {
      background: url("../assets/self-photo.png");
      background-repeat: no-repeat;
      background-position-x: 950px;
      justify-content: flex-start; } }
  .hero .hero__lines {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -140px;
    width: 280px;
    height: 280px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 2px;
    color: #0077C0;
    background-color: transparent;
    transform: rotate(45deg);
    animation: diamondrotate2 750ms ease-out 3000ms forwards, infiniteRotation 9000ms ease-out 6000ms infinite forwards; }
    .hero .hero__lines .words-1 {
      display: flex;
      justify-content: space-between;
      width: 280px; }
      .hero .hero__lines .words-1 .words__draw {
        transform: rotate(0deg);
        margin-left: 15px;
        transition: 750ms; }
      .hero .hero__lines .words-1 .words__code {
        transform: rotate(90deg);
        transform-origin: 35% 200%;
        transition: 750ms; }
    .hero .hero__lines .words-2 {
      display: flex;
      justify-content: space-between;
      width: 280px;
      align-items: flex-end;
      height: 265px; }
      .hero .hero__lines .words-2 .words__play {
        transform: rotate(270deg);
        transform-origin: -5% -10%;
        transition: 750ms; }
      .hero .hero__lines .words-2 .words__design {
        transform: rotate(180deg);
        transform-origin: 30% 70%;
        transition: 750ms; }
    .hero .hero__lines .words-opacity {
      opacity: 0;
      transition: 750ms ease-out;
      backface-visibility: hidden;
      animation: wordsOpacity 800ms linear 1600ms forwards; }
    .hero .hero__lines svg line {
      stroke-width: 1;
      stroke: #0077C0;
      transition: 350ms ease-in; }
    .hero .hero__lines-top {
      animation: topMove 350ms ease-out 1300ms forwards; }
    .hero .hero__lines-bottom {
      animation: bottomMove 350ms ease-out 1300ms forwards; }
    .hero .hero__lines-left {
      animation: leftMove 350ms ease-out 1300ms forwards; }
    .hero .hero__lines-right {
      animation: rightMove 350ms ease-out 1300ms forwards; }
    .hero .hero__lines .top-back {
      animation: topMoveBack 350ms ease-out forwards; }
    .hero .hero__lines .bottom-back {
      animation: bottomMoveBack 350ms ease-out forwards; }
    .hero .hero__lines .right-back {
      animation: rightMoveBack 350ms ease-out forwards; }
    .hero .hero__lines .left-back {
      animation: leftMoveBack 350ms ease-out forwards; }
  .hero__box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -122.5px;
    margin-left: -122.5px;
    background-color: #1F1F1F;
    width: 245px;
    height: 245px;
    transform: rotate(45deg);
    opacity: 1;
    animation: diamondscale 700ms ease-out, diamondrotate 750ms ease-out 3000ms forwards;
    transition: 500ms; }
    .hero__box1-intro {
      color: #0077C0;
      font-family: "Merriweather", sans-serif;
      font-weight: bold;
      font-size: 68.85px;
      letter-spacing: -0.35px;
      transform: rotate(-45deg);
      opacity: 0;
      animation: introAni 750ms linear 700ms forwards, introAni2 350ms linear 3000ms forwards; }
  .hero__box2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    opacity: 0;
    animation: descOpacity 1000ms linear 3750ms forwards, descMove 650ms ease-out 3800ms forwards; }
    .hero__box2-name {
      margin-bottom: 20px;
      color: #0077C0;
      font-family: "Merriweather", sans-serif;
      font-weight: bold;
      letter-spacing: .75px;
      font-size: 22px;
      opacity: 1; }
    .hero__box2-desc {
      width: 200px;
      margin-bottom: 30px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      letter-spacing: .30px;
      font-size: 14px;
      line-height: 22px;
      color: #0077C0; }
    .hero__box2-cta {
      color: cyan;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none; }
  .hero .desc-ani-reverse {
    animation: descOpacity2 500ms linear; }
  .hero .box-to-circle {
    border-radius: 200px;
    transition: 800ms;
    transition-delay: 500ms;
    transition-timing-function: ease-out;
    animation: diamondrotateReverse 900ms ease-in, circleToBox 1000ms ease-out 900ms forwards; }
  .hero__nav {
    display: none; }
    @media (min-width: 700px) {
      .hero__nav {
        display: flex;
        margin-top: 170px;
        margin-left: 50px;
        opacity: 0;
        transform: translateY(30px);
        font-family: "Open Sans", sans-serif;
        color: #222222;
        letter-spacing: 2px;
        font-size: 10px;
        list-style: none;
        text-decoration: none;
        animation: navAni 500ms ease-out 4000ms forwards; }
        .hero__nav-list ul {
          margin-bottom: 65px;
          padding: 15px 0;
          cursor: pointer;
          transition: 350ms;
          transition-timing-function: ease-in; }
        .hero__nav-list ul:hover {
          color: #0077C0;
          transform: translateY(-5px);
          opacity: .75; } }
  .hero__cta {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 235px; }
    .hero__cta-call {
      font-size: 10px;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 2px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 100px; }
    @media (min-width: 700px) {
      .hero__cta {
        display: none; } }

.web-design {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #1F1F1F;
  padding-bottom: 115px; }
  @media (min-width: 700px) {
    .web-design {
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      height: 100vh;
      padding-bottom: 150px; } }
  .web-design__box {
    display: none; }
    @media (min-width: 700px) {
      .web-design__box {
        display: block;
        width: 30%;
        margin-top: 225px;
        margin-left: 120px; } }
    .web-design__box-title {
      position: relative;
      top: 50px;
      margin-left: 30px;
      font-family: "Merriweather", sans-serif;
      font-weight: bold;
      font-size: 64px;
      color: white;
      letter-spacing: -4px;
      line-height: 52px; }
    .web-design:hover .web-design__box-top {
      transform: translate(236px); }
    .web-design:hover .web-design__box-right {
      transform: translateY(272px);
      transition-delay: 230ms; }
    .web-design:hover .web-design__box-bottom {
      transform: translate(-71px);
      transition-delay: 460ms; }
    .web-design__box-link {
      position: relative;
      top: 105px;
      margin-left: 30px;
      font-family: "Merriweather", sans-serif;
      font-weight: 300;
      text-decoration: none;
      color: white;
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased; }
    .web-design__box svg line {
      stroke-width: 3px;
      stroke: white;
      transition: 250ms ease-out; }
  .web-design__box2 {
    margin-top: 100px; }
    @media (min-width: 700px) {
      .web-design__box2 {
        display: none; } }
    .web-design__box2-title {
      position: relative;
      top: 25px;
      left: 34px;
      font-family: "Merriweather", sans-serif;
      font-weight: bold;
      font-size: 36px;
      color: white;
      letter-spacing: -2px; }
    .web-design:hover .web-design__box2-top {
      transform: translate(280px); }
    .web-design:hover .web-design__box2-right {
      transform: translateY(92px);
      transition-delay: 230ms; }
    .web-design:hover .web-design__box2-bottom {
      transform: translate(-120px);
      transition-delay: 460ms; }
    .web-design__box2-link {
      position: relative;
      top: 45px;
      margin-left: 40px;
      font-family: "Merriweather", sans-serif;
      font-weight: 300;
      text-decoration: none;
      color: white;
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased; }
    .web-design__box2 svg line {
      stroke-width: 3px;
      stroke: white;
      transition: 250ms ease-out; }
  .web-design__images {
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }
    @media (min-width: 700px) {
      .web-design__images {
        margin-top: 200px;
        justify-content: flex-end;
        flex-wrap: nowrap;
        width: 60%; } }
    .web-design__images-shadow {
      display: none; }
      @media (min-width: 700px) {
        .web-design__images-shadow {
          display: block;
          position: relative;
          opacity: .5;
          z-index: 1;
          top: 170px;
          left: 586px; } }
    .web-design__images-jones {
      z-index: 2;
      margin-right: -75px; }
      @media (min-width: 700px) {
        .web-design__images-jones {
          margin-right: -270px; } }
    .web-design__images-verve {
      z-index: 2;
      margin-right: -43px; }
      @media (min-width: 700px) {
        .web-design__images-verve {
          margin-right: -155px; } }
    .web-design__images-beastletics {
      z-index: 2; }
      @media (min-width: 700px) {
        .web-design__images-beastletics {
          margin-right: 50px; } }
      .web-design__images-beastletics img {
        width: 120px; }
        @media (min-width: 700px) {
          .web-design__images-beastletics img {
            width: auto; } }
    .web-design__images img {
      max-width: 150px; }
      @media (min-width: 700px) {
        .web-design__images img {
          max-width: none; } }
  .web-design__shadowmobile {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -150px; }
    @media (min-width: 700px) {
      .web-design__shadowmobile {
        display: none; } }
    .web-design__shadowmobile img {
      width: 300px; }

.illustration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0077C0;
  padding: 100px 0; }
  .illustration:hover svg {
    stroke-dashoffset: 0; }
  .illustration:hover .illustration__box-top {
    transform: translateX(-231px); }
  .illustration:hover .illustration__box-left {
    transform: translateY(345px);
    transition-delay: 230ms; }
  .illustration:hover .illustration__box-bottom {
    transform: translateX(40px);
    transition-delay: 460ms; }
  .illustration__image {
    width: 570px;
    height: 600px; }
    .illustration__image svg {
      stroke-dashoffset: 700;
      stroke-dasharray: 700;
      transition: 2500ms;
      transition-timing-function: ease;
      transition-delay: 300ms; }
  .illustration__box-title {
    position: relative;
    width: 136px;
    top: 60px;
    left: 50px;
    font-family: "Merriweather", sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #C7EEFF;
    letter-spacing: -4px;
    line-height: 52px; }
  .illustration__box-link {
    position: relative;
    top: 128px;
    left: 55px;
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #C7EEFF;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased; }
  .illustration__box svg line {
    stroke-width: 3px;
    stroke: white;
    transition: 250ms ease-out; }
