@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
$openfont: 'Open Sans', sans-serif;
$merrifont: 'Merriweather', sans-serif;


@keyframes diamondscale{
  0%{
   transform: rotate(0deg) scale(0);
 }
 100%{
   transform: rotate(45deg) scale(1);
 }
}

@keyframes diamondrotate {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes diamondrotateReverse {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes introAni{
  0% { opacity: 0 }
 100% { opacity: 1}
}

@keyframes introAni2{
  0% { opacity: 1 }
 100% { opacity: 0}
}

@keyframes descOpacity {
  100% {
    opacity: 1;
  }
}

@keyframes descMove {
    0% {
    transform: translateY(50px);
  }
}

@keyframes descOpacity2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes descMove2 {
    100% {
    transform: translateY(50px);
  }
}


@keyframes topMove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-210px);
  }
}

@keyframes topMoveBack {
  0% {
    transform: translateX(-210px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bottomMove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200px);
  }
}

@keyframes bottomMoveBack {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes leftMove {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(210px);
  }
}

@keyframes leftMoveBack {
  0% {
    transform: translateY(210px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rightMove {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-210px);
  }
}

@keyframes rightMoveBack {
  0% {
    transform: translateY(-210px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes diamondrotate2 {
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes infiniteRotation {
  0% {
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(-90deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  35% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes wordsOpacity {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes navAni {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes circleToBox {
  0% {
    border-radius: 200px;
    transform: rotate(0);
  }
  75% {
    width: 245px;
    height: 245px;
    top: 50%;
    left: 50%;
    margin-top: -122.5px;
    margin-left: -122.5px;
  }
  100% {
    width: 100%;
    height: 110vh;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    transform: rotate(180deg);
  }
}

@keyframes diamondrotateReverse {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0);
  }
}

html, body {
  overflow: hidden;
}

.page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 100%;

  &__logo {
    width: 100%;
    height: 10px;
    margin-top: 50px;
    background: url('../assets/logo.png');
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 700px) {
      background-position: left;
      margin-left: 50px;
    }
  }
}

.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;

  @media (min-width: 700px) {
    background: url('../assets/self-photo.png');
    background-repeat: no-repeat;
    background-position-x: 950px;
    justify-content: flex-start;
  }

  .hero__lines {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -140px;
    width: 280px;
    height: 280px;
    font-family: $openfont;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 2px;
    color: #0077C0;
    background-color: transparent;
    transform: rotate(45deg);
    animation: diamondrotate2 750ms ease-out 3000ms forwards, infiniteRotation 9000ms ease-out 6000ms infinite forwards;

    .words-1{
      display: flex;
      justify-content: space-between;
      width: 280px;

      .words__draw {
        transform: rotate(0deg);
        margin-left: 15px;
        transition: 750ms;
      }

      .words__code {
        transform: rotate(90deg);
        transform-origin: 35% 200%;
        transition: 750ms;
      }
    }

    .words-2{
      display: flex;
      justify-content: space-between;
      width: 280px;
      align-items: flex-end;
      height: 265px;

      .words__play {
        transform: rotate(270deg);
        transform-origin: -5% -10%;
        transition: 750ms;
      }

      .words__design {
        transform: rotate(180deg);
        transform-origin: 30% 70%;
        transition: 750ms;
      }
    }

    .words-opacity{
      opacity: 0;
      transition: 750ms ease-out;
      backface-visibility: hidden;
      animation: wordsOpacity 800ms linear 1600ms forwards;
    }

    svg line {
      stroke-width: 1;
      stroke: #0077C0;
      transition: 350ms ease-in;
    }

    &-top {
      animation: topMove 350ms ease-out 1300ms forwards;
    }

    &-bottom {
      animation: bottomMove 350ms ease-out 1300ms forwards;
    }

    &-left {
      animation: leftMove 350ms ease-out 1300ms forwards;
    }

    &-right {
      animation: rightMove 350ms ease-out 1300ms forwards;
    }

    .top-back {
      animation: topMoveBack 350ms ease-out forwards;
    }

    .bottom-back {
      animation: bottomMoveBack 350ms ease-out forwards;
    }

    .right-back {
      animation: rightMoveBack 350ms ease-out forwards;
    }

    .left-back {
      animation: leftMoveBack 350ms ease-out forwards;
    }

  }

  &__box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -122.5px;
    margin-left: -122.5px;
    background-color: #1F1F1F;
    width: 245px;
    height: 245px;
    transform: rotate(45deg);
    opacity: 1;
    animation: diamondscale 700ms ease-out, diamondrotate 750ms ease-out 3000ms forwards;
    transition: 500ms;

    &-intro {
      color: #0077C0;
      font-family: $merrifont;
      font-weight: bold;
      font-size: 68.85px;
      letter-spacing: -0.35px;
      transform: rotate(-45deg);
      opacity: 0;
      animation: introAni 750ms linear 700ms forwards, introAni2 350ms linear 3000ms forwards;
    }
  }

  &__box2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    opacity: 0;
    animation: descOpacity 1000ms linear 3750ms forwards, descMove 650ms ease-out 3800ms forwards;

    &-name {
      margin-bottom: 20px;
      color: #0077C0;
      font-family: $merrifont;
      font-weight: bold;
      letter-spacing: .75px;
      font-size: 22px;
      opacity: 1;
    }

    &-desc {
      width: 200px;
      margin-bottom: 30px;
      font-family: $openfont;
      font-weight: 300;
      letter-spacing: .30px;
      font-size: 14px;
      line-height: 22px;
      color: #0077C0;
    }

    &-cta {
      color: cyan;
      font-family: $openfont;
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
    }
  }

  .desc-ani-reverse {
      animation: descOpacity2 500ms linear;
  }

  .box-to-circle {
      border-radius: 200px;
      transition: 800ms;
      transition-delay: 500ms;
      transition-timing-function: ease-out;
      animation: diamondrotateReverse 900ms ease-in, circleToBox 1000ms ease-out 900ms forwards;
  }


  &__nav {
    display: none;

    @media (min-width: 700px) {
      display: flex;
      margin-top: 170px;
      margin-left: 50px;
      opacity: 0;
      transform: translateY(30px);
      font-family: $openfont;
      color: #222222;
      letter-spacing: 2px;
      font-size: 10px;
      list-style: none;
      text-decoration: none;
      animation: navAni 500ms ease-out 4000ms forwards;

      &-list ul{
        margin-bottom: 65px;
        padding: 15px 0;
        cursor: pointer;
        transition: 350ms;
        transition-timing-function: ease-in;
      }

      &-list ul:hover{
        color: #0077C0;
        transform: translateY(-5px);
        opacity: .75;
      }
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 235px;

    &-call {
      font-size: 10px;
      font-family: $openfont;
      letter-spacing: 2px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 100px;
    }

    @media (min-width: 700px) {
      display: none;
    }
  }

}



.web-design {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #1F1F1F;
  padding-bottom: 115px;

  @media (min-width: 700px){
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100vh;
    padding-bottom: 0;
  }

  &__box{
    display: none;
    @media (min-width: 700px) {
      display: block;
      width: 30%;
      margin-top: 225px;
      margin-left: 120px;
    }

    &-title {
      position: relative;
      top: 50px;
      margin-left: 30px;
      font-family: $merrifont;
      font-weight: bold;
      font-size: 64px;
      color: white;
      letter-spacing: -4px;
      line-height: 52px;
    }

    .web-design:hover &-top {
      transform: translate(236px);
    }

    .web-design:hover &-right {
      transform: translateY(272px);
      transition-delay: 230ms;
    }

    .web-design:hover &-bottom {
      transform: translate(-71px);
      transition-delay: 460ms;
    }

    &-link {
      position: relative;
      top: 105px;
      margin-left: 30px;
      font-family: $merrifont;
      font-weight: 300;
      text-decoration: none;
      color: white;
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
    }

    svg line {
      stroke-width: 3px;
      stroke: white;
      transition: 250ms ease-out;
    }
  }

  &__box2{
    margin-top: 100px;
    @media (min-width: 700px) {
      display: none;
    }

    &-title {
      position: relative;
      top: 25px;
      left: 34px;
      font-family: $merrifont;
      font-weight: bold;
      font-size: 36px;
      color: white;
      letter-spacing: -2px;
    }

    .web-design:hover &-top {
      transform: translate(280px);
    }

    .web-design:hover &-right {
      transform: translateY(92px);
      transition-delay: 230ms;
    }

    .web-design:hover &-bottom {
      transform: translate(-120px);
      transition-delay: 460ms;
    }

    &-link {
      position: relative;
      top: 45px;
      margin-left: 40px;
      font-family: $merrifont;
      font-weight: 300;
      text-decoration: none;
      color: white;
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
    }

    svg line {
      stroke-width: 3px;
      stroke: white;
      transition: 250ms ease-out;
    }
  }

  &__images {
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: 700px ){
      margin-top: 0;
      justify-content: flex-end;
      flex-wrap: nowrap;
      width: 60%;
    }

    &-shadow {
      display: none;

      @media(min-width: 700px){
        display: block;
        position: relative;
        opacity: .5;
        z-index: 1;
        top: 170px;
        left: 586px;
      }
    }

    &-jones {
      z-index: 2;
      margin-right: -75px;

      @media (min-width: 700px) {
        margin-right: -270px;
      }
    }

    &-verve {
      z-index: 2;
      margin-right: -43px;

      @media (min-width: 700px) {
        margin-right: -155px;
      }
    }

    &-beastletics {
      z-index: 2;

      @media (min-width: 700px) {
        margin-right: 50px;
      }

      img {
        width: 120px;

        @media(min-width: 700px){
          width: auto;
        }
      }
    }

      img {
        max-width: 150px;

        @media (min-width: 700px) {
          max-width: none;
        }
      }
    }

  &__shadowmobile {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: -150px;

      @media (min-width: 700px) {
        display: none;
      }

      img {
        width: 300px;
      }
  }
}
